body {
  background-color: #00f;
  font-family: times new roman;
}

.video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

iframe {
	width: 80vw;
	height: 80vh;
	margin-left: 10vw;
}

p {
	color: #fff;
	font-weight: 100;
	font-size: 14pt;
	margin-left: 15vw;
	margin-right: 25vw;
}

h1 {
	font-size: 24pt;
	color: #fff;
	font-weight: 100;
	margin-left: 0vw;
}

h2 {
	font-size: 24pt;
	color: #fff;
	font-weight: 100;
	margin-left: 5vw;
}

h3 {
	font-size: 24pt;
	color: #fff;
	font-weight: 100;
	margin-left: 15vw;
}

a:hover, a.mobile-hover {
	background-color: #fff;
}

a:visited {
	color: #fff;
}

a:link {
	color: #fff;
}

@keyframes changeColor {
  0% { background-color: #00f; }
  50% { background-color: #20f; }
  100% { background-color: #00f; }
}

body {
  animation: changeColor 10s infinite linear;
}


@media (max-width: 900px) {

	body {
		margin: 0px 0px 0px 0px;
		word-wrap: break-word;
	}

	img {
		width: 50vw;
	}

	p {
		font-size: 5vw;
		margin-right: 0vw;
	}

	h1 {
		font-size: 5vw;
	}

	h2 {
		font-size: 5vw;
	}

	h3 {
		font-size: 5vw;
	}

    a:hover {
        background-color: transparent !important;
    }

}